.present {
	height: 100%;
	background: #fff;
	.am-card {
		padding-bottom: 0px;
		.am-card-header {
			background: #efeff4;
			.am-card-header-content {
				img {
					width: 0.4rem;
					height: 0.4rem;
					margin-right: 10px;
				}
			}
		}
		.am-card-body {
			padding: 0;
		}
	}
}
