.hg-nav {
	margin-bottom: 5px;
	box-shadow: 0px 10px 2px #efeff4;
	.am-navbar {
		.am-navbar-left {
			padding-right: 15px;
			padding-left: 5px;
			.am-icon-md {
				width: 35px;
				height: 35px;
			}
		}
	}
}
