.hg-banner{
  .banner-title{
    background: #efeff4;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 12px 15px;
    box-sizing: border-box;
    img{
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 10px;
    }
  }
}